<?xml version="1.0"?>
<config>
    <modules>
        <MagentoRemotely_FPCache>
            <version>0.1.0</version>
        </MagentoRemotely_FPCache>
    </modules>
    <global>
        <cache>
            <types>
                <fpcache>
                    <label><![CDATA[NRS FPC]]></label>
                    <description><![CDATA[Not Remotely Slow Full Page Cache - Fast as rendering static HTML]]></description>
                    <tags><![CDATA[NRS_FPC]]></tags>
                </fpcache>
            </types>
        </cache>
        <models>
            <magentoremotely_fpcache>
                <class>MagentoRemotely_FPCache_Model</class>
                <resourceModel>magentoremotely_fpcache_resource</resourceModel>
            </magentoremotely_fpcache>
            <magentoremotely_fpcache_resource>
                <class>MagentoRemotely_FPCache_Model_Resource</class>
            </magentoremotely_fpcache_resource>
        </models>
        <blocks>
            <magentoremotely_fpcache>
                <class>MagentoRemotely_FPCache_Block</class>
            </magentoremotely_fpcache>
            <adminhtml>
                <rewrite>
                    <cache_additional>MagentoRemotely_FPCache_Block_Adminhtml_Cache_Additional</cache_additional>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <magentoremotely_fpcache>
                <class>MagentoRemotely_FPCache_Helper</class>
            </magentoremotely_fpcache>
        </helpers>
        <events>
            <page_block_html_topmenu_gethtml_after>
                <observers>
                    <magentoremotely_fpcache>
                        <class>magentoremotely_fpcache/observer</class>
                        <type>singleton</type>
                        <method>cacheStatus</method>
                    </magentoremotely_fpcache>
                </observers>
            </page_block_html_topmenu_gethtml_after>
            <controller_front_init_routers>
                <observers>
                    <magentoremotely_fpcache>
                        <class>magentoremotely_fpcache/observer</class>
                        <type>singleton</type>
                        <method>coreAbstractLoadAfter</method>
                    </magentoremotely_fpcache>
                </observers>
            </controller_front_init_routers>
            <admin_system_config_section_save_after>
                <observers>
                    <magentoremotely_fpcache>
                        <class>magentoremotely_fpcache/observer</class>
                        <type>singleton</type>
                        <method>adminSystemConfigSectionSaveAfter</method>
                    </magentoremotely_fpcache>
                </observers>
            </admin_system_config_section_save_after>
            <admin_system_config_changed_section_design>
                <observers>
                    <magentoremotely_fpcache>
                        <class>magentoremotely_fpcache/observer</class>
                        <type>singleton</type>
                        <method>adminSystemConfigChangedSectionDesign</method>
                    </magentoremotely_fpcache>
                </observers>
            </admin_system_config_changed_section_design>
        </events>
    </global>
    <frontend>
        <events>
            <checkout_cart_save_after>
                <observers>
                    <magentoremotely_fpcache>
                        <class>magentoremotely_fpcache/observer</class>
                        <type>singleton</type>
                        <method>checkoutCartSaveAfter</method>
                    </magentoremotely_fpcache>
                </observers>
            </checkout_cart_save_after>
            <http_response_send_before>
                <observers>
                    <magentoremotely_fpcache_http_response_send_before>
                        <class>magentoremotely_fpcache/observer</class>
                        <type>singleton</type>
                        <method>httpResponseSendBefore</method>
                    </magentoremotely_fpcache_http_response_send_before>
                </observers>
            </http_response_send_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <magentoremotely_fpcache_core_block_abstract_to_html_after>
                        <class>magentoremotely_fpcache/observer</class>
                        <type>singleton</type>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </magentoremotely_fpcache_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
            <customer_login>
                <observers>
                    <magentoremotely_fpcache>
                        <class>magentoremotely_fpcache/observer</class>
                        <type>singleton</type>
                        <method>customerLogin</method>
                    </magentoremotely_fpcache>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <magentoremotely_fpcache>
                        <class>magentoremotely_fpcache/observer</class>
                        <type>singleton</type>
                        <method>customerLogout</method>
                    </magentoremotely_fpcache>
                </observers>
            </customer_logout>
        </events>
        <layout>
            <updates>
                <magentoremotely_fpcache>
                    <file>magentoremotely/fpcache.xml</file>
                </magentoremotely_fpcache>
            </updates>
        </layout>
        <routers>
            <fpcache>
                <use>standard</use>
                <args>
                    <module>MagentoRemotely_FPCache</module>
                    <frontName>fpcache</frontName>
                </args>
            </fpcache>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <magentoremotely_fpcache>
                    <file>magentoremotely/fpcache.xml</file>
                </magentoremotely_fpcache>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <remotely before="Mage_Adminhtml">MagentoRemotely_FPCache_Adminhtml</remotely>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <degi_cache_crawler>
                <schedule>
                    <cron_expr>0 */2  * * *</cron_expr>
                </schedule>
                <run>
                    <model>magentoremotely_fpcache/observer::process</model>
                </run>
            </degi_cache_crawler>
        </jobs>
    </crontab>
</config>